@mixin flex_box($direction: row, $justifyContent: null, $alignItems: null){
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin ellipsis($width){
  font-family: 'Spoqa Han Sans JP', 'Sans-serif';
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}