@mixin flex_box($direction: row, $justifyContent: null, $alignItems: null){
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin ellipsis($width){
  font-family: 'Spoqa Han Sans JP', 'Sans-serif';
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin custom_checkbox(){
  position: relative;
  box-sizing: border-box;
  padding-left: 25px;
  line-height: 25px;
  cursor: pointer;

  input{
    display: none;
  }
  .checkmark{
    position: absolute;
    top: 2px;
    left: 0;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: solid 1px $border_color;
    background: #fff;

    &::after{
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 2px;
      width: 5px;
      height: 9px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  input:checked{
    ~ .checkmark{ 
      background: $custom_green;
      border-color: $custom_green;
    }
    ~ .checkmark::after{ display: block; }
  }
}
