#app{
  position: relative;
  width: 100%;

  .page{
    width: 100%;
    @include flex_box(row, center);
  }
  .wrapper{
    box-sizing: border-box;
    width: 100%;
    max-width: $wrapper_max_width;
  }
}