@media only screen and (min-width: 769px){
  #app{
    // topbar
    .topbar{
      height: 70px;
      .topbar_wrapper.can_back{
        .info{ display: block; }
        .back{ display: none; }
      }
      .info{ margin-top: 28px; }
    }
    // feed page
    .feed-page .feed_wrapper {
      padding-top: 50px;
      min-height: initial;
      .aside_bar{
        display: block;
      }
      .feed{
        .option_bar {
          padding: 0;
          border: none;

          .option_control{
            height: 35px;
            .order_buttons{ margin-top: 5px; }
            .open_buttons{ margin: 0; }
          }
        }
        .feed_list{
          background: white;
          
          & > *{
            padding: 20px 30px;
            margin-bottom: 30px;
            border: 1px solid $border_color;
            border-radius: 5px;
            box-shadow: none;
          }
          .feed_item .created_at{
            display: inline-block;
          }
          .commercial_item .commercial_container{
            display: flex;
  
            figure{
              flex-shrink: 0;
              img{
                @include size(310px, 179px);
                object-fit: scale-down;
              }
            }
            .content_container{
              margin-left: 29.5px;
  
              .title{ margin-top: 0; }
              .contents{ 
                margin-top: 10px; 
                max-height: 100px;
              }
            }
          }
          .commercial_item.fold .content_container{
            margin-left: 0;
          }
        }
      }
    }

    // detail
    .detail-page{
      padding: 50px 0 30px;

      .feed{
        padding: 20px 30px;
        border: 1px solid $custom_green;
        border-radius: 5px;
      }
      .reply{
        padding: 20px 30px;
        border: 1px solid $border_color;
        border-radius: 5px;
      }
    }

    // loading
    .loading .loading_icon{
      width: 80px;
      height: 80px;
    }
  }
}