.detail-page{
  box-sizing: border-box;
  padding: 20px 4%;

  .detail_wrapper{
    width: 100%;
    @include flex_box(column); 

    .feed{
      padding: 20px 0;
      border-top: 1px solid $custom_green;
      border-bottom: 1px solid $custom_green;

      .title{
        padding-right: 23px;
        word-break: break-all;
        line-height: 28px;
        font-size: 18px;
        font-weight: bold;
        color: $title_color;
      }
      .contents{
        margin-top: 5px;
        line-height: 25px;
        color: $contents_color;
      }
      .created_at{
        margin-top: 15px;
        line-height: 20px;
        font-size: 13px;
        color: $unused_color;
      }
    }

    .replys{
      padding-top: 30px;

      header{
        padding-bottom: 10px;
        .result{
          color: #495057;
          line-height: 25px;
        }
        .result_count{ 
          margin-left: 9px;
          color: $custom_green; 
        }
      }
    }
  }

}