.modal_form{
  position: relative;
  box-sizing: border-box;
  width: 89.8%;
  max-width: 460px;
  height: 268px;
  padding: 31px 30px 30px 30px;
  background: white;

  header{
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
    color: #212529;
  }
  .categories{
    @include flex_box(column, null, flex-start);
    
    label{
      @include custom_checkbox();
      color: #495057;
        margin-top: 10px;
    }
  }
  button{
    width: 100%;
    margin-top: 30px;
    padding: 13px 0 8px;
    background: $custom_green;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    line-height: 19px;
    cursor: pointer;
  }
  .cancel_button{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
}
