.feed_item{
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  background: white;

  header{
    padding-bottom: 10px;
    border-bottom: 1px solid $border_color;
    @include flex_box(row, space-between);
    line-height: 20px;
    font-size: 13px;
    .category{ color: $name_color; }
    .content_id{ color: $unused_color; }
  }

  .feed_container{
    margin-top: 15px;
    
    .user_id{
      font-size: 13px;
      line-height: 20px;
      color: $custom_green;
    }
    .created_at{
      display: none;
      margin-left: 12px;
      padding-left: 10px;
      border-left: 1px solid $border_color;
      font-size: 13px;
      color: #495057;
    }
  }

  .title{
    margin-top: 15px;
    @include ellipsis_multiple(100%, 28px, 28px);
    font-size: 18px;
    font-weight: bold;
    color: $title_color;
  }
  .contents{
    margin-top: 5px;
    display: block;
    @include ellipsis_multiple(100%, 25px, 25px);
    color: $contents_color;
  }

}
