.commercial_item{
  background: white;
  header{
    @include flex_box(row, space-between);
    font-size: 13px;
    line-height: 20px;
    color: $unused_color;
    .hidden_button{
      cursor: pointer;
    }
  }
  .commercial_container{
    position: relative;
    margin-top: 15.5px;
    figure{
      background-color: #f4f5f7;

      .image{ 
        width: 100%;
        padding-bottom: 52%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .content_container{
      width: 100%;
      height: 100%;
      overflow: hidden;
      .title{
        margin-top: 23.5px;
        line-height: 28px;
        font-size: 18px;
        color: $title_color;
        font-weight: bold;
        @include ellipsis_multiple(100%, 28px, 56px);
        max-height: 56px;



      }
      .contents{
        margin-top: 5px;
        line-height: 25px;
        color: $contents_color; 
        @include ellipsis_multiple(100%, 25px, 50px);
      }
    }
  }

  &.fold{
    background: #f4f5f7;
    background: $border_color;
    .commercial_container{
      .title{
        margin-top: 0;
      }
      figure, .contents{
        display: none;
      }
    }
  }
}